@import './styles.css';
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 2em;
}
.text{
    display: flex;
    justify-content: space-around;
}
.h1{
    font-family: 'Inter', sans-serif;
    font-size: 4em;
    margin: 0%;
    font-weight: 900;
}

.welcome{
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin: 2em;
    font-weight: 600;
    width: 50%;

}